body {
    background-color:bisque;
    margin: 0;
    font-size: 16px;
}

/* Nav start */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(107, 52, 27);
}

ul li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(238, 226, 204);
    text-decoration: none;
    padding: 20px
}

li a:hover {
    background-color: rgba(128, 128, 128, 0.308);
}

/* Nav end */


/* header start */
#nachalo {
    height: auto;
    background-color: purple;
    position: relative;

    /* background-image: url("./snimki/background\ head.jpg");
    background-repeat: no-repeat;
    background-size: auto auto; */
    /* height: 300px; */
}

#nachalo img {
    width: 100%;
    height: auto;
    display: block;
}

.header-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
}

.header-text h1 {
    font-size: 10vmin;
}

.header-text p {
    font-size: 3vmin;
}

/* header end */
#interesno {
    height: 300px;
    background-color: blueviolet;
}
#reklama {
    height: 300px;
    background-color: pink;
}
#magazin {
    height: 800px;
    background-color: orchid;
}
#diy {
    height: 800px;
    background-color: blue;
}
#zaNas {
    height: 300px;
    background-color: green;
}
#kontakti {
    height: 200px;
    background-color: greenyellow;
}

