body {
    background-color:bisque;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(107, 52, 27);
}

ul li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(238, 226, 204);
    text-decoration: none;
    padding: 20px
}

li a:hover {
    background-color: rgba(128, 128, 128, 0.308);
}
