body {
    background-color:bisque;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: rgb(107, 52, 27);
}

ul li {
    display: inline-block;
}

li a {
    display: block;
    color: rgb(238, 226, 204);
    text-decoration: none;
    padding: 20px
}

li a:hover {
    background-color: rgba(128, 128, 128, 0.308);
}

#nachalo {
    height: 500px;
    background-color: purple;
}
#interesno {
    height: 300px;
    background-color: blueviolet;
}
#reklama {
    height: 300px;
    background-color: pink;
}
#magazin {
    height: 800px;
    background-color: orchid;
}
#diy {
    height: 800px;
    background-color: blue;
}
#zaNas {
    height: 300px;
    background-color: green;
}
#kontakti {
    height: 200px;
    background-color: greenyellow;
}

